<main>
  <aol-map [width]="'500px'" [height]="'500px'">
    <aol-interaction-default></aol-interaction-default>
    <aol-view [zoom]="12">
      <aol-coordinate [x]="lng" [y]="lat" [srid]="'EPSG:4326'"></aol-coordinate>
    </aol-view>
    <aol-layer-tile> <aol-source-osm> </aol-source-osm> </aol-layer-tile>
    <aol-layer-vector>
      <aol-source-vector>
        <aol-feature *ngFor="let item of (geoData$ | async)">
          <aol-geometry-polygon>
            <aol-collection-coordinates
              [coordinates]="item.geometry.coordinates"
              [srid]="'EPSG:4326'"
            >
            </aol-collection-coordinates>
          </aol-geometry-polygon>
          <aol-style>
            <aol-style-text [text]="item.properties.name"></aol-style-text>
            <aol-style-stroke [color]="'red'" [width]="2"></aol-style-stroke>
            <aol-style-fill
              [color]="getColour(item.properties.averageAge)"
            ></aol-style-fill>
          </aol-style>
          <!-- <aol-overlay>
            <aol-coordinate
              [x]="item.geometry.coordinates[0][0]"
              [y]="item.geometry.coordinates[0][1]"
              [srid]="'EPSG:4326'"
            >
            </aol-coordinate>
            <aol-content>
              <div class="my-overlay-class"><h1>This is an overlay</h1></div>
            </aol-content>
          </aol-overlay> -->
        </aol-feature>
      </aol-source-vector>
    </aol-layer-vector>
    <aol-layer-vector>
      <aol-source-vector>
        <aol-feature>
          <aol-geometry-point>
            <aol-coordinate
              [x]="lng"
              [y]="lat"
              [srid]="'EPSG:4326'"
            ></aol-coordinate>
          </aol-geometry-point>
          <aol-style>
            <aol-style-icon
              [src]="
                'https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Map_pin_icon.svg/564px-Map_pin_icon.svg.png'
              "
              [anchor]="[0.5, 1]"
              [anchorXUnits]="'fraction'"
              [anchorYUnits]="'fraction'"
              [scale]="0.05"
              [anchorOrigin]="'bottom-center'"
            >
            </aol-style-icon>
          </aol-style>
        </aol-feature>
      </aol-source-vector>
    </aol-layer-vector>
  </aol-map>

  <span *ngFor="let item of (geoData$ | async)">
    {{ item.properties.name }} {{ item.properties.population }}
    {{ item.properties.averageAge }}
  </span>
</main>
